body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #ccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
.fas:hover {
  color: #6d6e70;
  cursor: pointer;
}

.header {
  padding-left: 45px;
  padding-right: 90px;
}

.name {
  font-size: 21px;
  font-weight: 600;
}

.contact-item,
.header-link {
  padding-left: 7px;
}

.arrow-icon {
  width: 30px;
  height: 30px;
}

.fa-user-edit {
  color: #333;
  margin-right: 9px;
}

.fa-user-times,
.fa-user-edit {
  width: 25px;
  height: 25px;
  float: right;
}

.fa-user-times:hover {
  color: red;
}

.arrow-icon:hover,
.delete-icon:hover {
  cursor: pointer;
}

